
/*
  font-family: 'Dancing Script', cursive;

  font-family: 'Lato', sans-serif;
 
*/

:root {
  --darkColor: rgb(52, 75, 71);
  --mediumColor: rgb(127, 182, 172);
  --lightColor: rgb(230, 244, 241);
  --darkRgba5: rgba(52, 75, 71, 0.5);
}

html{
  font-size: 16px;  
  min-width: 360px;
}

* {
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

b {
  font-weight: bold;
}

a, a:active {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

a:visited {
  color: inherit ;
}

li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  width: 100%;
  height: 100%; 
}

h1 {
  font-family: "Dancing Script", cursive; 
  font-size: 2.8rem;
  font-weight: bold;
}

h2 {
  font-family: "Dancing Script", cursive;
  text-align: center;
  width: 100%;
  margin: 2rem 0;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0.5rem;
  color: black;
  text-shadow:1px 1px 2px var(--mediumColor);
  z-index: 1;
}

.divSeparation {
  
  height: 16rem;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed; 
  z-index: -1;
}

#repairSeparation {
  background-image: url('./images/Backgrounds/IMG_20201116_114238.jpg');
}

#cleaningSeparation {
  background-image: url('./images/Backgrounds/IMG_20201116_114207.jpg');
}

#valuationSeparation {
  background-image: url('./images/Backgrounds/IMG_20201115_142108.jpg');
}

#quotationSeparation {
  background-image: url('./images/Backgrounds/IMG_20201116_114207.jpg');
  border-top: 3px solid var(--darkColor);
}

body {
  height: auto;
}

h3 {
  text-decoration: underline;
  font-family: "Dancing Script", cursive;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 2rem;
}

h4 {
  font-size: 1.2rem;
  font-weight: bold;
}

/*************************************************************************************************/
/********************************************HEADER***********************************************/

header {
  min-width: 360px;
  background-color: white;
  position: fixed;
  top: 0;
  height: 8rem;
  width: 100%;
  z-index: 3;
}


#headBar {
  background-color: var(--lightColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20%;
}

#phone-mail-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 100%;
  margin-left: 0.5rem;
}


.telephone {
 
  font-size: 1.1rem;
}

.mail {
  display: none;
  margin-left: 1rem;
  border-radius: 0.3rem;
  padding: 0 0.2rem;
  transition: border 0.2s;
} 

.mail:hover {
  
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px solid black;
}

#contactMail {
  display: inline-block;
}

#socialMedia {
  width: 60%;
  max-width: 450px;
  height: 80%;
  display: flex;
  justify-content: space-around;
}

.socMedia {
  height: 100%;
  width: 12%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: transform 0.5s, box-shadow 0.5s;
}

.socMedia:hover {
  cursor: pointer;
  transform: translate(-2px, -2px);
  border: 1px solid var(--darkColor);
  border-radius: 0.2rem;
  box-shadow: 2px 2px 1px;
}

.socMedia:active {
  transform: translate(2px, 2px);
  box-shadow: 0px 0px 0px;
  border: 0px solid var(--lightColor);
  transition: transform 0.2s, box-shadow 0.2s;
}

#mailIcon {
  background-image: url("./Icons/mail.png");
}

#facebook {
  background-image: url("./Icons/facebook-logo.png");
}

#youtube {
  background-image: url("./Icons/youtube.png");
}

#instagram {
  background-image: url("./Icons/black-instagram-logo.png");
}

#pinterest {
  background-image: url("./Icons/pinterest.png");
}

/****************Quotation Button********************************/

#upButton {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 2rem;
  width: 2rem;
  position: fixed;
  color: white;
  bottom: 2rem;
  left: 0.5rem;
  border-radius: 1.5rem;
  border: 2px solid black;
  background-color: var(--darkColor);
  z-index: 3;
  transition: background-color 0.5s, color 0.1s;
  box-shadow: -0.1rem 0.1rem 0.3rem 0.3rem var(--mediumColor);
}

#upButton span {
  font-weight: bold;
}

#upButton ,#quotationButton {
  font-family: "Lato", sans-serif;
  border: 2px solid black;
  box-shadow: -0.1rem 0.1rem 0.4rem 0.1rem var(--mediumColor);
} 


#upButton:hover ,#quotationButton:hover {
  background-color: var(--mediumColor);
  color: black;
 }

 #quotationButton:active {
  background-color: var(--darkColor);
  transform: scale(0.9); 
}

#quotationButton  {
  
  padding: 0.3rem 0.4rem;
  position:fixed;
  right: 0.5rem;
  top: 40%;
  width: 1rem;
  height: auto;
  z-index: 3;
  border-radius: 0.5rem;
  text-align: center;
  color:white;
  font-weight: bold; 
  background-color: var(--darkColor);
  writing-mode: vertical-rl;
  text-orientation: upright;
  transition: background-color 0.5s, color 0.1s;
}


/*********************Main Header***************************/

#mainHeader {
  background-color: var(--mediumColor);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
  width: 100%;
}

#title {
  text-shadow: 2px 3px 2px var(--lightColor);
}


#deliberyCollectionDiv {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  position: relative;
  left: 100%;
  top:-10%;
  animation-name: collection;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

#deliberyCollection {
  font-size: 1.2rem;
  background-color: var(--lightColor);
  border-radius: 0.2rem;
  padding: 0.1rem 0.2rem;
}

@keyframes collection {
  from { left: 100%;}
  to {left: 0%;}
}



/**************************Menu Bar**************************/

#menuBar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-family: "Lato", sans-serif;
}

#containerBar {
  display: flex;
  align-items: center;
  height: 20%;
  width: 100%;
  background-color: var(--lightColor);
  border-bottom: 2px solid black;
  box-shadow: 0 4px 2px -2px  rgba(128, 128, 128, 0.65);
}

.menuTab {
  font-size: 1.1rem;
  border-radius: 0.3rem;
  background-color: var(--darkColor);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.5rem;
  width: 20%;
  transition: background-color 0.5s, color 0.1s;
}

#services {
  max-height: 2rem;
}

#hidenList{
  width: 20%;
  display: none;
  position: absolute;
  font-size: 0.8rem;
  top: 100%;

}

#lastHidenTab {
  border-radius: 0px 0px 0.5rem 0.5rem;
}

.hidenTab {
  text-align: center;
  color: white;
  padding: 0.4rem 0.2rem;
  border: 1px solid white;
  background-color: var(--darkColor);
  transition: background-color 0.5s, color 0.1s;
}

.menuTab:hover , .hidenTab:hover {
  cursor: pointer;
  background-color: var(--mediumColor);
  color: black;
}

.menuTab:active , .hidenTab:active, #upButton:active {
  background-color: var(--darkColor);
  box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
  border: 2px solid black;
}


#services:hover #hidenList {
 display: block; 
}

#services:focus-within #hidenList {
  display: block; 
 }

#contactPage {
  background-color: var(--mediumColor);
  color:black;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 2px solid black;
}

/***********************************************BODY************************************************/


/*****************************Seccion About***************************************************/

main {

  margin-top: 8rem;
  z-index: -2;
}

.sect {
 
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-top: 3px solid var(--darkColor);
  border-bottom: 3px solid var(--darkColor);
  box-shadow: 0px 9px 5px -5px rgba(128, 128, 128, 0.65), 0px -9px 5px -5px rgba(128, 128, 128, 0.65); 
  z-index: 0;
}

#sectionAbout {
  width: 100%;
  height: auto;

}

#aboutAnimationContainer {
  width: 100%;
  max-width: 800px;
  height: 24rem;
  background-image: url("./images/Backgrounds/IMG_20201115_142108.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#aboutAnimation {
  border-radius: 1rem;
  background-color: rgba(196, 245, 247, 0);
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80%;
  width: 95%;
}

/*
#aboutAnimationCenterDiv {
  width: 0;
  height: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items:center;
  opacity: 0;
  animation-name: divGetBig;
  animation-delay: 7s;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  border-radius: 0.5rem;
  background-color: rgba(255, 255, 255, 0.7);
}

.aboutAnimationH4 {
  width: 30%;
  font-size: 0;
}

@keyframes divGetBig{
  from {width: 0; height: 0; opacity: 0;}
  to {width: 90%; height: 30%; opacity: 1;}
}

#lastH4 {
  width: auto;
  font-size: 0;
  justify-self: center;
  align-self:center;
  animation-name: lastH4Animation;
  animation-duration: 0.5s;
  animation-delay: 13.2s;
  animation-fill-mode: forwards;
}

@keyframes lastH4Animation {
  from {font-size: 0rem ;}
  to {font-size: 1.8rem ;}
}

@keyframes h41Animation {
  0% {font-size: 0rem ;}
  20% {font-size: 1.6rem ;}
  80% {font-size: 1.6rem ;}
  100% {font-size: 0rem ; }
}

#h41-1 {
  animation-name: h4Animation;
  animation-duration: 3.5s;
  animation-delay: 7s;
  animation-timing-function: ease-out;
}

#h41-2 {
  animation-name: h4Animation;
  animation-duration: 3s;
  animation-delay: 8s;
  animation-timing-function: ease-out;
}

#h41-3 {
  animation-name: h4Animation;
  animation-duration: 2.5s;
  animation-delay: 9s;
  animation-timing-function: ease-out;
}

#h41-4 {
  animation-name: h4Animation;
  animation-duration: 2.5s;
  animation-delay: 10s;
  animation-timing-function: ease-out;
}

#h41-5 {
  animation-name: h4Animation;
  animation-duration: 2s;
  animation-delay: 11s;
  animation-timing-function: ease-out;
}


#floatContainer {
  
  background-image: url("./images/Reviews/reviws11.jpg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 5%;
  height: 5%;
  position:relative;
  top: -34%;
  left: 20%;
  animation-name: about;
  animation-duration: 1.5s;
  animation-iteration-count: 4;
  animation-fill-mode: forwards;
  animation-delay: 1s;
  visibility: hidden;
}


@keyframes about {
  0% {top:-34%; left:20%; width: 5%; height: 5%; visibility: hidden; opacity: 0 }
  7.5% {top:-27%; left:30%; width: 16%; height: 16%; visibility:visible; opacity: 0.3; }
  15% {top:-20%; left:35%; width: 27%; height: 27%;  }
  22.5% {top:-13%; left: 30%; width: 38%; height: 38%;  }
  30% {top: -6%; left: 20%; width: 49%; height: 49%;  }
  37% {top: 0%; left: 0%; width: 65%; height: 55%; opacity: 1;}
  

  63% {top: 0%; left:0%; width: 65%; height: 55%; opacity: 1; }
  70.5% {top: -6%; left: -20%; width: 49%; height: 49%; }
  78% {top:-13%; left: -30%; width: 38%; height: 38%; }
  85.5% {top:-20%; left:-35%; width: 27%; height: 27%; }
  93% {top:-27%; left:-30%; width: 16%; height: 16%; opacity: 0.3; }
  100% {top:-34%; left:-20%; width: 5%; height: 5%; visibility: hidden; opacity: 0; }
}

*/
.aboutAnimationSmallContainer {
  text-align: center;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  font-weight: bold;
  height: 25%;
  width: 70%;
  max-width: 450px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.7);
}

.counter {
  font-weight: bold;
  font-size: 1.5rem;
}

#aboutAnimationBigContainer {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#aboutAnimationBigContainer div {
  width: 49%;
  height: 100%;
}




@keyframes example {
  0%   {background-image: url("./images/Presentation/4.png") }
  20%  {background-image: url("./images/Presentation/a1_0.jpg"); }
  40%  {background-image: url("./images/Presentation/Painting\ rag.JPG"); }
  60% {background-image: url("./images/Presentation/DSC037068.jpg"); }
  80% {background-image: url("./images/Presentation/Repairing\ Hole.JPG"); }
}

.secText {
  padding: 0.5rem;
}

#aboutTextContainer {
  text-align: center;
  width: 100%;
  height: auto;
  padding-bottom: 1.5rem;
  background-color: white;
}

#aboutTextContainer h4 {
  margin-top: 0.5rem;
  padding: 0.5rem;
}

#aboutTextContainer p {
  line-height: 1.4rem;
  max-width: 900px;
  margin: 0 auto;
}

.textContainer {
  width: 30%;
}

.textContainer h3, p {
  padding: 0.3rem;
}

.textContainer p {
  font-size: 0.8rem;
}
/******************************************************************************************/
/******************************Rug Cleaning************************************************/

#sectionCleaning {
  width: 100%;
  height: auto;
}
/*
#stainSec {
  width: 90%;
  height: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#stainSec h2 {
  padding: 0;
}

#stainTitle {
  font-size: 1.4rem;
  text-align: center;
}

#stainExampleContainer {
  width: 95%;
  height: 23%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.stainExampleDiv {
  width:28%;
  height: 100%;
  border: 2px solid var(--darkColor);
  box-shadow: 2px 2px 1px var(--mediumColor);
  border-radius: 0.3rem;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#liquidStain {
  background-image: url("./images/CleaningStains/wine-stain.jpg");
}

*/
.blindStain {
  display:flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width:100%;
  height: 100%;
  background-color: var(--darkRgba5);
  color: white;
  transition: height 1s;
}

/*

.bblindStain {
  display:flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  width:100%;
  height: 100%;
  background-color: var(--darkRgba5);
  color: white;
  
}

@media (prefers-reduced-motion: no-preference) {
   .bblindStain {
    transition: height 2s;
  }
}

.blindStainOpen {
height: 20%;
    
}

*/

.stainExampleDiv:hover > .blindStain {
  cursor: pointer;
  height: 20%;
}

/*

#foodStain {
  background-image: url("./images/CleaningStains/food-stain.jpg");
}

#mudStain {
  background-image: url("./images/CleaningStains/mud-stain.jpg");
}

#stainDescription{
  width: 100%;
  height: 35%;
  border: 2px solid var(--darkColor);
  border-radius: 0.3rem;
}
*/
#cleaningText {
  width: 90%;
  max-width: 900px;
  height: auto;
  padding: 0.3rem;
  line-height: 1.4rem;
  text-align: center;
}

#firstPartCleaning {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 30rem;
}

.comparationDiv {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    height: 27rem;
}

#comparationDiv2 {
  display: none;
}

#compareContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 55%;
  width: 80%;
  max-width: 550px;
}



#imgCompareContainer {
  border: 3px solid black;
  width: 100%;
  height: 90%;
}

.imgCompare {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

#secondPhoto {
  position:relative;
  top: -101%;
  clip-path: polygon(0% 0%,50% 0%,50% 100%,0% 100%);
  min-height: 100%;
  z-index: 2;
}

#slideShow {
  font-size: 1rem;
  width: 100%;
}

#container-before-after{
  font-size: 1rem;
  display: flex;
  width: 100%;
  height: auto;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 0.3rem;
}

.before-after {
  text-align: center;
  height: auto;
  width: 50%;
  overflow: hidden;
}

#before{
  background-color: var(--mediumColor);
  color:black;
  border-radius: 0.3rem 0 0 0.3rem;
}

#after {
  background-color: var(--lightColor);
  color: black;
  border-radius: 0 0.3rem 0.3rem 0;
}


#cleaningExamples {
  height: 25%;
  width: 95%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.smallCleaningExamples {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
  width: 20%;
  border: 2px solid var(--darkColor);
  border-radius: 0.3rem;
  box-shadow: 2px 2px 1px var(--mediumColor);
}

.smallCleaningExamples:hover {
  cursor: pointer;
}

.stainExampleDiv:active, .smallCleaningExamples:active, .repairExampleDiv:active {
  transform: translate(2px, 2px);
  box-shadow: 0px 0px 1px var(--mediumColor);
}

.smallCleaningExamplesDiv {
 height: 80%;
 width: 100%;
 background-image: url("");
 background-position: center;
 background-repeat: no-repeat;
 background-size: cover;
}

.smallCleaningExamples span{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
  font-weight: bold;
  width: 100%;
  height: 20%;
  text-align: center;
  background-color: var(--lightColor);
  border-radius: 0 0 0.3rem 0.3rem;
}


#secondPartCleaning {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  height: 35rem;
}

#rightCompareDiv p {
  font-size: 0.75rem;
}

#rugCleaning {
  padding: 2rem;
}

#cleaningProcessContainer {
  width: 95%;
  height: 85%;
  display: flex;
  flex-direction: column;
  font-size: 0.8rem;
  padding: 0.3rem 0;
}

.cleaningProcessDiv {
  width: 100%;
  height: 15%;
  display: flex;
  align-items: center;
}

.cleaningProcessImg {
  width: 20%;
  height: 90%;
  border: 2px solid var(--darkColor);
  border-radius: 0.3rem;
  background-image: url("");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cleaningProcessDiv p {
  height: auto;
  width: 80%;
}

/*******************************************************************************************/
/********************************Sec Repair*************************************************/

#sectionRepair {
  width: 100%;
  height: auto;
  justify-content: space-evenly;
  
}

#repairExamples-TextContainer {
  height: 22rem;
  width: 80%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#repairExamples-Frame {
  width: 100%;
  height: 63.8%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

#repairExamplesContainerVertical {
  height: 100%;
  width: 31.25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#repairExamplesContainerRow {
  height: 27%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.repairExampleDiv {
  width:25%;
  height: 95%;
  border: 2px solid var(--darkColor);
  box-shadow: 0.15rem 0.15rem 0.1rem var(--mediumColor);
  border-radius: 0.3rem;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#colourExample {
  background-image: url('./images/Repair/colourEx/1.jpg');
}

#fringeExample {
  background-image: url('./images/Repair/fringeEx/1.jpg');
}

#holeExample {
  background-image: url("./images/Repair/holeEx/1.jpg");
  background-size: 180% 180%;
}

#mothExample {
  background-image: url('./images/Repair/MothEx/DSC03692.jpg');
}

#customizationExample {
  background-image: url('./images/Repair/customizationEx/1.jpg');
}

.repairExampleDiv span, #stainExampleContainer span {
  font-size: 0.8rem;
  text-align: center;
}

#fringeExample:hover > .blindStain, #colourExample:hover > .blindStain {
  height: 30%;
}

.repairExampleDiv:hover > .blindStain {
  cursor: pointer;
  height: 20%;
}

#colourExample, #fringeExample {
  width:80%;
  height: 40%;
}

#repairTextContainer {
  width: 100%;
  height: 18rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;

}

#sectionRepair p {
  text-align: center;
  line-height: 1.4rem;
  margin-bottom: 2rem;
  max-width: 900px;
}

#repairStand {
  width:50%;
  height: 5rem; 
  background-image: url('./images/RepairStamps.jpg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
} 
/*
#repairStand p {
  padding: 1rem 0.5rem 0.5rem;
}*/

@keyframes exampleRepairColour {
  0%   {background-image: url("./images/Repair/colourEx/1.jpg"); }
  50%  {background-image: url("./images/Repair/colourEx/2.jpg"); }
  100%  {background-image: url("./images/Repair/colourEx/3.jpg"); }
}


@keyframes exampleRepairFringe {
  0%   {background-image: url("./images/Repair/fringeEx/1.jpg"); }
  25%  {background-image: url("./images/Repair/fringeEx/2.jpg"); }
  50%  {background-image: url("./images/Repair/fringeEx/3.jpg"); }
  75% {background-image: url("./images/Repair/fringeEx/4.jpg"); }
  100% {background-image: url("./images/Repair/fringeEx/5.jpg"); }
}

@keyframes exampleRepairHole {
  0%   {background-image: url("./images/Repair/holeEx/1.jpg"); }
  25%  {background-image: url("./images/Repair/holeEx/2.jpg"); }
  50%  {background-image: url("./images/Repair/holeEx/3.jpg"); }
  75% {background-image: url("./images/Repair/holeEx/4.jpg"); }
  100% {background-image: url("./images/Repair/holeEx/5.jpg"); }
}


@keyframes exampleRepairMoth {
  0%   {background-image: url("./images/Repair/DSC03674.JPG"); }
  25%  {background-image: url("./images/Repair/DSC03676.JPG"); }
  50%  {background-image: url("./images/Repair/DSC03677.JPG"); }
  75% {background-image: url("./images/Repair/DSC03678.JPG"); }
  100% {background-image: url("./images/Repair/DSC03680.JPG"); }
}



@keyframes exampleRepairCustom {
  0%   {background-image: url("./images/Repair/customizationEx/1.jpg"); }
  20%  {background-image: url("./images/Repair/customizationEx/2.jpg"); }
  40%  {background-image: url("./images/Repair/customizationEx/3.jpg"); }
  60% {background-image: url("./images/Repair/customizationEx/4.jpg"); }
  80% {background-image: url("./images/Repair/customizationEx/5.jpg"); }
  100% {background-image: url("./images/Repair/customizationEx/6.jpg"); }
}

.repearingShowFrame {
  border: 3px solid black;
  height: 98%;
  width: 62.1%;
  background-image: url("./images/Repair/DSC03674.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: exampleRepairMoth;
  animation-duration: 8s;
  animation-iteration-count: infinite ;
  animation-direction: normal;
  animation-fill-mode:forwards;
}


.imgRepairFrame , #repearingShowFrame {
  border-radius: 0.3rem;
} 


/*******************************************************************************************/
/******************************************Rug Valuation************************************/

#sectionValuation {
  border-bottom: none;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: auto;
  width: 100%;
  z-index: 0;
  background-color: white;
  box-shadow: none;
}

#valuationDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  height: 20rem;
  background-image: url('./images/Backgrounds/IMG_20201114_095423.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  box-shadow: 0px 9px 5px -5px rgba(128, 128, 128, 0.65);
  z-index: 1;
}

#valuationDiv h3 {
  background-color: rgba(52, 75, 71, 0.8);
  border-radius: 0.5rem;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  
}

#valuationDiv p {
  background-color: rgba(52, 75, 71, 0.8);
  line-height: 1.1rem;
  font-size: 0.9rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: 80%;
  height: auto;
  margin-bottom: 0.5rem;
}


#learnMore {
  margin: 0 auto;
  position:relative;
  text-align: center;
  top: -15.1rem;
  height: 7rem;
  width: 100%;
  max-width: 1000px;
  z-index: 0;
  transition: top 2s, height 2s;
}


#learnMoreText {
  height: 15rem;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border: 2px solid var(--darkColor);
  margin-bottom: 0.5rem;
}

.hiddenElement {
  display: none;
}

.buttonLearnClass {
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: var(--darkColor) ;
  color: white;
  transition: background-color 0.5s, color 0.1s;
}

.buttonLearnClass:hover {
 cursor: pointer;
 background-color: var(--mediumColor);
 color: black;
}


#learnMoreContainer {
  display: none ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid var(--darkColor);
  height: 0rem;
  z-index: -1;
  padding: 0.5rem;
}

#learnMoreContainer p {
  width: 100%;
  font-size: 0.8rem;
}

/***************************************************************************************************/
/*****************************Quotation*************************************************************/


#sectionQuotation {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 35rem;
  width: 100%;
}

#formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 30rem;
  width: 100%;

}

#quoteForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90%;
  max-width: 650px;
  width: 90%;
  
}

#quoteForm input, #quoteForm textarea {
  width: 80%;
}

#submit {
  max-width: 250px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 4.5rem;
  width: 100%;
  background-color: var(--mediumColor);
}

#copyRight {
  padding: 0.5rem;
  font-family: "Lato";
  font-size: 0.8rem;
  color:var(--darkColor);
}


/********************************************************************************************/
/****************************************faqPage*********************************************/



#faqContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 4rem;
  
}

#questionsContainer {
  width: 70%;
  height: auto;
  

}


.questions {
  width: 100%;
  padding: 5px;
  text-align: center;
  background-color: #e5eecc;
  border: solid 1px #c3c3c3;
}

.questions:hover {
  cursor: pointer;
}

.answers {
  background-color: var(--lightColor);
  width: 100%;
  height: auto;
  padding: 5px;
  display: none;
}

#stainSec {
  width: 100%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#stainExampleContainer {
  width: 95%;
  height: 23%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.stainExampleDiv {
  width:28%;
  height: 100%;
  border: 2px solid var(--darkColor);
  box-shadow: 2px 2px 1px var(--mediumColor);
  border-radius: 0.3rem;
  cursor: pointer;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#liquidStain {
  background-image: url("./images/CleaningStains/wine-stain.jpg");
}

#foodStain {
  background-image: url("./images/CleaningStains/food-stain.jpg");
}

#mudStain {
  background-image: url("./images/CleaningStains/mud-stain.jpg");
}

#stainDescription{
  background-color: white;
  width: 100%;
  height: 50%;
  border: 2px solid var(--darkColor);
  border-radius: 0.3rem;
}



/********************************************************************************************/
/*****************************************Contact Page***************************************/

#contactContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 42rem;
}

#contactInformation {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 90%;
  height: 22rem;
}

#contactInformation h3 {
  padding: 0.8rem;
}

#contactInformation p {
  text-align: center;
  line-height: 1.2rem;
  width: 95%;
  max-width: 700px;
}

#openingContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: auto;
}

#openinigSpan {
  margin-bottom: 0.3rem;
}

#contactMap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20rem;
}

#mapContainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90%;
}

#contactMap iframe {
  width: 100%;
  height: 100%;
}






/********************************************************************************************/
/********************************************************************************************/
/******************************************Media Query***************************************/

@media screen and (min-width: 650px) {
  html {
    font-size: 18px;
  }




  .mail {
    display: inline-block;
    font-size: 1.1rem;
  }

  #socialMedia {
    width: 40% ;
  }

  #mailIcon {
    display: none;
  }
  
  .blindStain span{
  
    font-size: 1rem;

  }





  #learnMoreText {
    line-height: 1.4rem;
  }

}

/***************************************************************************/

@media screen and (min-width: 800px) {

  #aboutAnimationContainer {
    height: 12rem;
    background-size: cover;
    max-width: 1000px;
  }

  .aboutAnimationSmallContainer {
    max-width: 250px;
    height: 50%;
    font-size: 1.1rem;
    justify-content: center;
  }

  #aboutAnimation {
    flex-direction: row;
  }

}

/***********************************************************************/


@media screen and (min-width: 950px) {
  
  html {
    font-size: 20px;
  }
/*
  #aboutAnimationContainer {
    height: 12rem;
    background-size: cover;
    max-width: 1000px;
  }

  .aboutAnimationSmallContainer {
    max-width: 250px;
    height: 50%;
    font-size: 1.1rem;
    justify-content: center;
  }

  #aboutAnimation {
    flex-direction: row;
  }
*/
}


@media screen and (min-width: 1000px) {

  .comparationDiv {
    width: 50%;
  }

  #comparationDiv2 {
    display: flex;
  }

  #contactInformation{
    height: 18rem;
  }

  #contactContainer {
    flex-direction: row-reverse;
    height: 22rem;
  }

}

@media screen and (min-width: 1300px) {

  header {
    height: 10rem;
  }

  main {
    margin-top: 10rem;
  }

  #mainHeader {
    justify-content: space-around;
  }

  #aboutAnimationContainer {
   max-width: 1200px;
  }
  
  #repairExamples-TextContainer {
    max-width: 1200px;
  }

  #valuationDiv {
    max-width: 1200px;
  }

  #learnMore {
    max-width: 1200px;
  }

}